* {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font: inherit;
  color: #e5e5e5;
}

@font-face {
  font-family: Dafont-bold;
  src: url("/public/fonts/youtube-sans-bold.woff2");
}

@font-face {
  font-family: Dafont-thin;
  src: url("/public/fonts/youtube-sans-light.woff2");
}

@font-face {
  font-family: Dafont;
  src: url("/public/fonts/youtube-sans-medium.woff2");
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
