@use "../../../scss/main.scss";
@use "../../../scss/variables.scss";

$back-ground-opacity: 0.3;
$back-ground-hover-opacity: 0.4;

.button {
  @extend .flex-align-items-center;
  @extend .flex-justify-content-center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  &.light-color {
    color: white;
    background-color: rgba(229, 231, 235, $back-ground-opacity);
    &:hover {
      background-color: rgba(229, 231, 235, $back-ground-hover-opacity);
    }
  }
  &.dark-color {
    color: white;
    background-color: rgba(229, 231, 235, 0.1);
  }
  &.full-rounded {
    border-radius: 90px;
  }
  &.left-rounded {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  &.right-rounded {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
  }
}
