@use "../../../scss/main.scss";

.video-card {
  text-decoration: none;
  height: 16rem;
}

.detail {
  @extend .flex-align-items-start;
  gap: 1rem;
}

.video-wrapper {
  height: 14rem;
  border-radius: 15px;
  overflow: hidden;
  &:hover {
    border-radius: 0;
  }
}

.video-dynamic-details {
  @extend .flex-align-items-center;
}
