@use "./variables.scss";
@use "./mixins.scss";

.app {
  background-color: variables.$accent-color;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: block;
}

.flex-align-items-center {
  @include mixins.flex-box(row, null, center, null, null);
}

.flex-align-items-start {
  @include mixins.flex-box(row, null, flex-start, null, null);
}

.flex-justify-content-between {
  @include mixins.flex-box(row, space-between, null, null, null);
}

.flex-justify-content-center {
  @include mixins.flex-box(row, center, null, null, null);
}

.flex-column-align-items-center {
  @include mixins.flex-box(column, null, center, null, null);
}

.flex-column-justify-content-center {
  @include mixins.flex-box(column, center, null, null, null);
}
