@use "../../scss/main.scss";

.wrapper {
  grid-column: span 12 / span 12;
  @extend .flex-align-items-start;
  gap: 3rem;
  padding: 0 2rem;
  height: 90vh;
  overflow-y: scroll;
}

.related-video-section {
  width: 30%;
}
